*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

h1{
  margin-bottom: 1rem;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: .5rem;
}


.quilljs-container{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%

}

#react-quill{
  height: 100%;
  width: 50%;
}

.right-panel{
  height: 100%;
  width: 48%;
  padding: .5rem;
  text-align: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#output{
  border: 1px solid #d9d9d9;
  height: 49%;
  padding: .5rem;
  text-align: left;
}

#database{
  height: 49%;
  border: 1px solid #d9d9d9;
  padding: .5rem;
  text-align: left;

}
